header{
    background: $BurlyWood;
    // padding-top: 15px;
    // padding-bottom: 15px;
    

    .container{
      padding: 0;
    }
      @media (max-width: 576px){
        .container-sm, .container {
          max-width: 100%;
      }
    }


    //TODO ===============          nav
    .nav {
        height: 70px;
        width: 100%;
        background: $BurlyWood;
        top: 26px;
        position: fixed;
        z-index: 10000;
        left: 0;

      }      
      .nav > .nav-header {
        display: inline;
      }
      
      .nav > .nav-header > .nav-title {
        display: inline-block;
        font-size: 22px;
        color:#663300;
        padding: 16px 10px 10px 10px;
        font-weight: 900;

      }
      
      .nav > .nav-btn {
        display: none;
      }
      
      .nav > .nav-links {
        display: inline;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        margin: auto;


      }
      
      .nav > .nav-links > a {
        display: inline-block;
        padding: 13px 10px 13px 10px;
        text-decoration: none;
        color:$Brown;
        // transition: 0.3s ease;
        text-decoration: none;

        margin-left: 5px;
        margin-right: 5px;
        font-weight: 600;
      }
      
      .nav > .nav-links > a:hover {
        background-color: $BurlyWood;
        @include links;
      }
      
      .nav > #nav-check {
        display: none;
      }
      
      @media (max-width:800px) {
        .nav > .nav-btn {
          display: inline-block;
          position: absolute;
          right: 8px;
          top: 11px;
        }
        .nav > .nav-btn > label {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
        }
        .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
          background-color: #9966337a;
          border-radius: 3px;
        }
        .nav > .nav-btn > label > span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid $Brown;
        }
        .nav > .nav-links {
          position: absolute;
          display: block;
          width: 106%;
          background-color: $BurlyWood;
          height: 0px;
          transition: all 0.3s ease-in;
          overflow-y: hidden;
          top: 59px;
          left: 0px;
          margin-left: -15px;
          font-size: 28px;
          z-index: 1000;

        }
        .nav > .nav-links > a {
          display: block;
          width: 100%;
          border-bottom: 1px solid $BrownLight;
          border-top: none;
          &:hover{
            background: $BrownLight;
            color:$BurlyWood;
            transform: none;
            transition:  none;

          }
        }
        .nav > .nav-links > a:first-child{
          border-top: 1px solid $BrownLight;

        }
        .nav > #nav-check:not(:checked) ~ .nav-links {
          height: 0px;
        }
        .nav > #nav-check:checked ~ .nav-links {
          height: calc(100vh - 50px);
          overflow-y: auto;
        }

      }































}