@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
    }
    @mixin min-screen($res) {
        @media screen and (min-width: $res) {
            @content;
        }
    }

$BurlyWood: #DEB887;
$Brown:#663300;
$BrownLight:#996633;

@mixin links{
    transform: scale(1.2, 1.2);
    transition:  0.3s;
}


// @mixin hover {
//     transition: 0.2s;
//     color: #E8AA31;
//     }