@import "bootstrap.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
header {
  background: #DEB887;
}
header .container {
  padding: 0;
}
@media (max-width: 576px) {
  header .container-sm, header .container {
    max-width: 100%;
  }
}
header .nav {
  height: 70px;
  width: 100%;
  background: #DEB887;
  position: relative;
  top: -26px;
}
header .nav > .nav-header {
  display: inline;
}
header .nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #663300;
  padding: 16px 10px 10px 10px;
  font-weight: 900;
}
header .nav > .nav-btn {
  display: none;
}
header .nav > .nav-links {
  display: inline;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin: auto;
}
header .nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #663300;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
}
header .nav > .nav-links > a:hover {
  background-color: #DEB887;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .nav > #nav-check {
  display: none;
}
@media (max-width: 800px) {
  header .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 11px;
  }
  header .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  header .nav > .nav-btn > label:hover, header .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(153, 102, 51, 0.4784313725);
    border-radius: 3px;
  }
  header .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #663300;
  }
  header .nav > .nav-links {
    position: absolute;
    display: block;
    width: 106%;
    background-color: #DEB887;
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 59px;
    left: 0px;
    margin-left: -15px;
    font-size: 28px;
    z-index: 1000;
  }
  header .nav > .nav-links > a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #996633;
    border-top: none;
  }
  header .nav > .nav-links > a:hover {
    background: #996633;
    color: #DEB887;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
  header .nav > .nav-links > a:first-child {
    border-top: 1px solid #996633;
  }
  header .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  header .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.main_page {
  background: #DEB887;
}

.container_box {
  text-align: center;
  width: 100%;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/bg3.jpg");
  background-size: cover;
  background-position: center;
  -moz-background-size: cover; /* Firefox 3.6 */
  /*  this is where the magic happens:  */
  background-attachment: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_page_box1 h1 {
  font-weight: 700;
  font-size: 125px;
  color: #663300;
  position: relative;
  top: -84px;
}
@media (max-width: 600px) {
  .main_page_box1 h1 {
    font-size: 90px;
  }
}
@media (max-width: 436px) {
  .main_page_box1 h1 {
    font-size: 60px;
  }
}
.main_page_box1 p {
  position: relative;
  top: -84px;
  color: #F6F6F6;
  font-size: 18px;
}
@media (max-width: 436px) {
  .main_page_box1 p {
    font-size: 16px;
  }
}

.blank,
.other {
  width: 65%;
  background-color: #DEB887;
  color: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
@media (max-width: 623px) {
  .blank,
.other {
    width: 83%;
  }
}
.blank p,
.other p {
  text-align: justify;
  padding: 30px 0px;
  color: #4e2700;
  font-size: 18px;
}

.second {
  background-image: url("../img/bg1.jpg");
  background-attachment: fixed;
  min-height: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 45px;
  padding-bottom: 45px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.6em;
}
.second .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}
.second .img {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: 0.3em;
}
.second .img-first {
  background-image: url("../img/bg2.jpg");
}
.second .img-second {
  background-image: url("../img/bg3.jpg");
}
.second .img-third {
  background-image: url("../img/bg4.jpg");
}
.second .card {
  border: 1px solid transparent;
}
.second .card h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
  color: #663300;
}
.second .card p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #4e2700;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 0px;
  overflow-wrap: break-word;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  text-align: center;
}
.second .card a {
  display: inline-block;
  padding: 1em 3.5em;
  color: #4e2700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.875rem;
  margin-bottom: 2em;
}
.second .card a:hover {
  color: #DEB887;
}

footer {
  background: #663300;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .footer_flex_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footer_flex_wrapper .footer_wrapper_right p:first-child {
  font-weight: 700;
  font-size: 95px;
  color: #DEB887;
}
footer .footer_flex_wrapper .footer_wrapper_right p:first-child::after {
  display: inline-block;
  content: "\f1b0";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 10px;
  color: #996633;
  margin-right: 9px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
footer .footer_flex_wrapper .footer_wrapper_right p:last-child {
  font-weight: 700;
  font-size: 20px;
  color: #DEB887;
}
footer .footer_flex_wrapper .footer_wrapper_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer_flex_wrapper .footer_wrapper_left ul {
  list-style: none;
}
footer .footer_flex_wrapper .footer_wrapper_left ul li a {
  color: #DEB887;
  text-decoration: none;
  font-size: 18px;
}
footer .footer_flex_wrapper .footer_wrapper_left ul li::before {
  display: inline-block;
  content: "\f1b0";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 10px;
  color: #996633;
  margin-right: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
footer .footer_flex_wrapper .footer_wrapper_left ul:last-child {
  margin-left: 60px;
}

.container {
  max-width: 1200px;
  margin: auto;
}